<!DOCTYPE html>
<html lang="en">
<head>
     	
    <title>Castelli Tapparelli d'Azeglio di Lagnasco - Interfaccia di gestione</title>
    	        
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    
   {{#if production}}
		<!-- UI BUTTON -->
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		{{!-- jquery-bootgrid --}}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.1.4/jquery.bootgrid.min.css">
		{{!-- Drag sortable--}}
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
   {{else}}
   		<link rel="stylesheet" href="/css/jquery-ui.css">
   		<link rel="stylesheet" href="/css/bootstrap.min.css">
   		{{!-- jquery-bootgrid --}}
		<link rel="stylesheet" href="/js/jquery.bootgrid-1.1.4/jquery.bootgrid.min.css">
		{{!-- Drag sortable--}}
		<link rel="stylesheet" href="/css/jquery-ui.css">
    {{/if}}  
   
    <link rel="stylesheet" href="/css/form.css">
   	{{!-- CSS to style the file input field as button and adjust the Bootstrap progress bars --}}
	<link rel="stylesheet" href="/css/jquery.fileupload.css">
	

  {{#if production}}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/jquery.ui.widget.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
	<script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
	<!-- The Canvas to Blob plugin is included for image resizing functionality -->
	<script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
	<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- jquery-bootgrid -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.1.4/jquery.bootgrid.min.js"></script>
    {{!-- DRAG SORTABLE --}}
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>  
  {{else}}
    <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/jquery.ui.widget.js"></script>
    <script src="/js/load-image.all.min.js"></script>
    <script src="/js/canvas-to-blob.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.bootgrid-1.1.4/jquery.bootgrid.min.js"></script>
    {{!-- DRAG SORTABLE --}}
    <script src="/js/jquery-ui.js"></script> 
  {{/if}}        


	{{!-- wyiswyg --}}
	<link rel="stylesheet" href="/js/cleditor/jquery.cleditor.css" />
	<script src="/js/cleditor/jquery.cleditor.min.js"></script>	
	

<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="/js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="/js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="/js/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin 
<script src="/js/jquery.fileupload-audio.js"></script>
-->
<!-- The File Upload video preview plugin -->
<script src="/js/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="/js/jquery.fileupload-validate.js"></script>
  
<script>
var wysiwyg = null;
//var newsID_global = null;// If we set this, the new page is a modify page
var TABS = ["CONTENT","MANAGE_CONTENTS","FIRST_PAGE"];
// On document ready	
$(function(){
	var distributionLists = {}
		grid=null;
	// Create tabs
	// initGrid should be done here or it would not work
	$( "#tabs" ).tabs({
  		activate: function (event , ui){
  			if (ui.newPanel[0].id == "manageNews")
  				initGrid();
  			if (ui.newPanel[0].id == "firstPage")
  				updateSortSlideBar();
  			$("#news_grid").bootgrid('reload');
  		}
	});
	// Focus the MAgane contents tab
	focusTab("MANAGE_CONTENTS");
 
 	// Sort with drag&drop slidebar content
 	updateSortSlideBar();

	// ----- WYSIWYG editor -----
	wysiwyg = $('#description').cleditor({
		width: 470, // width not including margins, borders or padding
        height: 184, // height not including margins, borders or padding
		controls: // controls to add to the toolbar
                    "bold italic underline strikethrough subscript superscript | font size " +
                    " | color highlight removeformat | bullets numbering | outdent " +
                    "indent | alignleft center alignright justify | undo redo | " +
                    "rule image link unlink | cut copy paste pastetext | source",
        docCSSFile: "../css/style.css"
	});


	// ----- IMAGE management ------
	// The select image button
	$("#selectImageButton").button({
		icons: { primary: "ui-icon-image" },
		label: "Scegli"
	}).click(function() {
  		selectARemoteFile();
	});
	
	// The upload image button
	$("#uploadImageButton").button({
		icons: { primary: "ui-icon-arrowthickstop-1-n" },
		label: "Upload"
	}).click(function() {
  		uploadAFile();
	});
	
	// The send mail button
	$("#sendMail").button({
		icons: { primary: "ui-icon-mail-closed" },
		label: "Invia email a..."
	}).click(function() {
  		selectML();
	});

// Select the DLs to use for sending this news	
function selectML(){
	$( "#mailingLists" ).dialog({
						title:"Seleziona le liste di distribuzione",
      					resizable: false,
      					width: 400,
      					modal: true,
      					buttons: {
        							"Ok": function() {
        								$("#mailingLists input").each(function(){
        									// If the obj does not exists, init it
        									if (!distributionLists[$(this).val()])
        										distributionLists[$(this).val()]={
        											selected:false,
        											id:$(this).val()
        										}
        										distributionLists[$(this).val()].selected = ($(this).is(':checked'));
        								});
          								$( this ).dialog( "close" );
									}
							}
    });
}	

// Open a dialog with a file selection (data loaded dymanically), select a file and set in the slectImage input
function selectARemoteFile(){
	var dialogDefaultTitle = "Scegli un file";
	// Load the file list
	$.get( "/admin/browseImages.html", function( data ) {
  		$( "#fileSelection" ).html( data );
  		// Action to be applied to each image in the div
  		$("#fileSelection img").click(function(){
  			$('#fileSelection').dialog('option', 'title', $(this).data("img_name"));
  		});
  		$( "#fileSelection" ).dialog({
  			title: dialogDefaultTitle,
  			buttons: [
    		{
      			text: "OK",
      			click: function() {
      				var newImg = "/uploads/"+$('#fileSelection').dialog('option', 'title');
      				if ( newImg != dialogDefaultTitle){
      					changeIMGThunbm(newImg);
      					$('#selectedImage').val(newImg);
      				}	
        			$( this ).dialog( "close" );
      			}
    		},
    		{
      			text: "Cancel",
      			click: function() {
        			$( this ).dialog( "close" );
      			}
    		}
  	  	]});
	});
}
	
// changes the thumb of the selected image
function changeIMGThunbm(newImgSrc){
	$("#selectedImageThun").attr("src",newImgSrc);
	return;
}	

// Mostra una finestra di dialogo 
// buttons: array con http://api.jqueryui.com/dialog/#option-buttons
// icon_class vedi icone jquery
function showDialog(text, title , buttons , icon_class){
	$("#dialog-confirm").html('<p><span class="ui-icon '+icon_class+'" style="float:left; margin:0 7px 20px 0;"></span>'+text+'</p>');
	$( "#dialog-confirm" ).dialog({
						title:title,
      					resizable: false,
      					width: 300,
      					modal: true,
      					buttons: buttons
    });
}	
	
// Open a dialog for the selection of a file to be uploaded            
function uploadAFile(){
	var self = this;
	$("#progress-bar").width("0%");
	$("#files").empty();
	$('#fileupload').empty();
	
	// UPLOAD dei file
    var url =  '/upload/image';
    var uploadButton = $('<button/>')
            .addClass('btn btn-primary')
            .prop('disabled', true)
            .text('Processing...')
            .on('click', function () {
                var $this = $(this),
                    data = $this.data();
                $this
                    .off('click')
                    .text('Abort')
                    .on('click', function () {
                        $this.remove();
                        data.abort();
                    });
                data.submit().always(function () {
                    $this.remove();
                });
            });

	$("#fileUploadDIV").empty();
	$("#fileUploadDIV").append("<span class='btn btn-success fileinput-button'>\
        <i class='glyphicon glyphicon-plus'></i> \
        <span>Upload file</span> \
        <!-- The file input field used as target for the file upload widget -->\
        <input id='fileupload' type='file' name='uploadFile' multiple> \
   		 </span> \
    <br> \
    <br> \
    <!-- The global progress bar --> \
    <div id='progress' class='progress'> \
        <div class='progress-bar progress-bar-success' id='progress-bar'></div> \
    </div> \
    <!-- The container for the uploaded files --> \
    <div id='files' class='files'></div>");

	$("#fileUploadDIV").dialog({
  		title: "Upload di un file",
  		buttons: [
    	{
      		text: "OK",
      		click: function() {
      			if (self.selectedFile)
      				$("#selectedImage").val(self.selectedFile);
        		$( this ).dialog( "close" );
      		}
    	},
    	{
      		text: "Cancel",
      		click: function() {
        		$( this ).dialog( "close" );
      		}
    	}
  	]});
    $('#fileupload').fileupload({
        url: url,
        dataType: 'json',
        autoUpload: false,
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
        maxFileSize: 5000000, // 5 MB
        // Enable image resizing, except for Android and Opera,
        // which actually support image resizing, but fail to
        // send Blob objects via XHR requests:
        disableImageResize: /Android(?!.*Chrome)|Opera/
            .test(window.navigator.userAgent),
        previewMaxWidth: 100,
        previewMaxHeight: 100,
        previewCrop: true
    }).on('fileuploadadd', function (e, data) {
        data.context = $('<div/>').appendTo('#files');
        $.each(data.files, function (index, file) {
            var node = $('<p/>')
                    .append($('<span/>').text(file.name));
            if (!index) {
                node
                    .append('<br>')
                    .append(uploadButton.clone(true).data(data));
            }
            node.appendTo(data.context);
        });
    }).on('fileuploadprocessalways', function (e, data) {
        var index = data.index,
            file = data.files[index],
            node = $(data.context.children()[index]);
        if (file.preview) {
            node
                .prepend('<br>')
                .prepend(file.preview);
        }
        if (file.error) {
            node
                .append('<br>')
                .append($('<span class="text-danger"/>').text(file.error));
        }
        if (index + 1 === data.files.length) {
            data.context.find('button')
                .text('Upload')
                .prop('disabled', !!data.files.error);
        }
    }).on('fileuploadprogressall', function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        $('#progress .progress-bar').css(
            'width',
            progress + '%'
        );
    }).on('fileuploaddone', function (e, data) {
    	$.each(data.result.files, function (index, file) {
    		self.selectedFile = file.name;
            if (file.url) {
                var link = $('<a>')
                    .attr('target', '_blank')
                    .prop('href', file.url);
            } else if (file.error) {
                var error = $('<span class="text-danger"/>').text(file.error);
                $(data.context.children()[index])
                    .append('<br>')
                    .append(error);
            }
        });
    }).on('fileuploadfail', function (e, data) {
    	$.each(data.files, function (index) {
            var error = $('<span class="text-danger"/>').text('File upload failed.');
            $(data.context.children()[index])
                .append('<br>')
                .append(error);
        });
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');

}
	// Form validation rules			
	var insert_news_form_validation = $("#insert_news_form").validate(
	{
		rules: {
				title: {
					required: true,
					minlength: 2
				},
				selectedImage: {
					required: true
				},
				description: {
					required: true
				},
				when:{
					required: true
				},
				language:{
					required: true
				},
				video:{
					url: true
				}
			},
			messages: {
				title: {
					required: "Inserire un titolo accattivante",
					minlength: "Almeno 2 caratteri, un po di energia dai!"
				},
				selectedImage: {
					required: "Inserire una immagine intrigante per la notizia",
					url: "Deve essere una url valida"
				},
				video: {
					url: "Deve essere una url valida"
				},
				description: "Inserire il testo della notizia, altrimenti che notizia è?",
				when: "Inserire una data o periodo",
				language: "Seleziona una lingua",
				fileUpload: "Selezionare un file"
			}
		});

		$("#reset").click(function(event) {
			resetNewNewsForm();
			event.preventDefault();
		});
		$("#submit_button").click(function(event) {
			// I campi sono validi secondo le indicazioni che abbiamo dato?
			if($("#insert_news_form").valid()){
				// Chiede conferma per la creazione della notizia
				$("body").append('<div id="dialog"></div>');
				var text = "Aggiungere il contenuto?";
				var title = 'Aggiungi contenuto';
				var okText = "Contenuto inserito correttamente";
				if ($('#newsID_global').val() != ''){
					text = 'Modifico il contenuto?';
					title = 'Moficia contenuto'; 
					okText = "Contenuto modificato correttamente";
				}
				
				$( "#dialog" ).empty().append(text).dialog({
  				title: title,
  				buttons: [
    			{
      				text: "OK",
      				click: function() {
        				$( this ).dialog( "close" );
        				// Preparo i dati e li mando al server
						var inputData = {
							title: $("#title").val(),
							subTitle:$("#subTitle").val(),
							description:	$("#description").val(),
							selectedImage: $("#selectedImage").val(),
							when:		$("#when").val(),
							selectedImage : $("#selectedImage").val(),
							language:$("#language").val(),
							video : $("#video").val(),
							id:$("#newsID_global").val(),
							DLs:distributionLists
						};
						// If we are changing the news, we have an ID set
						var url_for_update = "/admin/update_news/";
						
						$.ajax({
        					type: "GET",
        					url: url_for_update, 
        					contentType: "application/json",
        					success: function(data){
        						resetNewNewsForm();
        						showDialog( okText , "Informazione",  
        							  {
        								"Ok": function() {
          									$( this ).dialog( "close" );
										}
        							} , "ui-icon-info");
    						},
        					failure: function(errMsg) {
            					showDialog("Errore "+errMsg , "Errore",  
        							  {
        								"Ok": function() {
          									$( this ).dialog( "close" );
										}
        							} , "ui-icon-alert");
        					},
        					data:inputData
						});
      				}
    			},
    			{
      				text: "Cancel",
      				click: function() {
        				$( this ).dialog( "close" );
      				}
    			}
  	  		]});
			event.preventDefault();
			}else{
				// Input non valido
			}
		});
});

//---------- BOOTGRID -------
//http://www.jquery-bootgrid.com/Examples#5
function initGrid(){
	grid = $("#news_grid").bootgrid({
    ajax: true,
    sortable:false,
    url: "/admin/listNews",
    formatters: {
        "commands": function(column, row)
        {
        	return "<button type=\"button\" class=\"btn btn-xs btn-default command-delete\" data-row_id=\"" + row.id + "\"><span class=\"glyphicon glyphicon-trash\"></span></button>" +
        			"<button type=\"button\" class=\"btn btn-xs btn-default command-edit\" data-row_id=\"" + row.id + "\"><span class=\"glyphicon glyphicon-pencil\"></span></button>" ;
        },
        "firstPageSpalla": function (column , row){
        	var first = "",
        		second = "";
        	if (row.firstPageSide[0])
        		first = "checked=\"checked\"";
        	if (row.firstPageSide[1])
        		second = "checked=\"checked\"";
        		
        	return "<input name= \"checkboxFirstPageSpalla_"+row.id+"\" id=\"checkboxFirstPageSpalla_1_"+row.id+"\" type=\"radio\" class=\" checkboxFirstPageSpalla\" " +first+" data-row_id=\"" + row.id + "\">" + "&nbsp;&nbsp;" + "<input id=\"checkboxFirstPageSpalla_2_"+row.id+"\" type=\"radio\" name= \"checkboxFirstPageSpalla_"+row.id+"\" class=\" checkboxFirstPageSpalla\" " +second+" data-row_id=\"" + row.id + "\">"
        },
        "SlideBar": function(column, row)
        {
        	var checked = "";
        	if (row.firstPageSlideBar){
        		checked = "checked=\"checked\"";
        	}
        	
        	return "<input "+checked+" id= \"slideBar_"+row.id+"\" type=\"checkbox\" class=\"slideBar\" data-row_id=\"" + row.id + "\" >";
        },
	"MobileApp": function(column, row)
        {
                var checked = "";
                if (row.MobileApp){
                        checked = "checked=\"checked\"";
                }

                return "<input "+checked+" id= \"MobileApp_"+row.id+"\" type=\"checkbox\" class=\"MobileApp\" data-row_id=\"" + row.id + "\" >";
        }
    }
	}).on("loaded.rs.jquery.bootgrid", function()
	{
    	/* Executes after data is loaded and rendered */
    	grid.find(".command-delete").on("click", function(e)
    	{
    		var self = this;
    		// in this context function defined are not recognized, so di the dialog directly 
    		$("#dialog-confirm").html('<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Elimina la notizia</p>');
			$( "#dialog-confirm" ).dialog({
						title:"Attenzione",
      					resizable: false,
      					width: 300,
      					modal: true,
      					buttons: {
        					"Elimina": function() {
          						$( this ).dialog( "close" );
          						$.get( "/admin/remove_news/"+$(self).data("row_id"), function( data ) {
  									$("#news_grid").bootgrid('reload');
								});
        					},
        					"Cancel": function() {
          						$( this ).dialog( "close" );
        						}
      					}
    		});
    	}).end().find(".checkboxFirstPageSpalla").on("click", function(e){
    		var which = null,
    			other = null
    			self = this; 
    		// Which checkbox?
    		if (e.currentTarget.id.indexOf("checkboxFirstPageSpalla_1") === 0){
    			which = 1;
    			other = 2;
    		}
    		else{
    			which = 2;
    			other = 1;
    		}
    		
    		$("#dialog-confirm").html('<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Cambia le notizie nella spalla di prima pagina</p>');
			$( "#dialog-confirm" ).dialog({
						title:"Attenzione",
      					resizable: false,
      					width: 300,
      					modal: true,
      					buttons: {
        					"Conferma": function() {
          						$( this ).dialog( "close" );
          						$.get( "/admin/set_sideBar/"+$(self).data("row_id")+"/"+which+"/"+Math.floor((Math.random() * 1000) + 1), function( data ) {
  									$("#news_grid").bootgrid('reload');
								});
        					},
        					"Cancel": function() {
          						$( this ).dialog( "close" );
          							$("#news_grid").bootgrid('reload');
        						} 
      					}
    		});
    	}).end().find(".slideBar").on("click", function(e)
    	{
    		var self = this;
    		// in this context function defined are not recognized, so di the dialog directly 
    		$("#dialog-confirm").html('<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Modifica la slideBar</p>');
			$( "#dialog-confirm" ).dialog({
						title:"Attenzione",
      					resizable: false,
      					width: 300,
      					modal: true,
      					buttons: {
        					"Conferma": function() {
          						$( this ).dialog( "close" );
          						//if (($("#slideBar_"+$(self).data("row_id")).is(":checked")))
          						if ($(self).is(":checked"))
          							$.get( "/admin/news_to_slidebar/"+$(self).data("row_id"), function( data ) {
  										$("#news_grid").bootgrid('reload');
									});
								else
									$.get( "/admin/remove_from_slidebar/"+$(self).data("row_id"), function( data ) {
  										$("#news_grid").bootgrid('reload');
									});
        					},
        					"Cancel": function() {
          						$( this ).dialog( "close" );
          						$("#news_grid").bootgrid('reload');
        					}
      					}
    		});
	}).end().find(".MobileApp").on("click", function(e)
        {
                var self = this;
                // in this context function defined are not recognized, so di the dialog directly
                $("#dialog-confirm").html('<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Inserisci su Mobile APP</p>');
                        $( "#dialog-confirm" ).dialog({
                                        title:"Attenzione",
                                        resizable: false,
                                        width: 300,
                                        modal: true,
                                        buttons: {
                                                "Conferma": function() {
                                                        $( this ).dialog( "close" );
                                                        if ($(self).is(":checked"))
                                                                $.get( "/admin/news_to_MobileApp/"+$(self).data("row_id"), function( data ) {
                                                                                $("#news_grid").bootgrid('reload');
                                                                        });
                                                                else
                                                                        $.get( "/admin/remove_from_MobileApp/"+$(self).data("row_id"), function( data ) {
                                                                                $("#news_grid").bootgrid('reload');
                                                                        });
                                                },
                                                "Cancel": function() {
                                                        $( this ).dialog( "close" );
                                                        $("#news_grid").bootgrid('reload');
                                                }
                                        }
                });

    	}).end().find(".command-edit").on("click", function(e)
    	{
    			var self = this;
    			fillNewsInfo($(self).data("row_id"));
    	});
	});
}

// Fills the addNews Tab with info from newsId (no lang)
function fillNewsInfo(newsID){
	getNewsInfo(newsID , function(ret){
		//console.log(ret);
		$("#title").val(ret.title);
		$("#subTitle").val(ret.subTitle);
		$("#description").val(ret.description);
		$("#description").val(ret.description); 
		$("#description").cleditor()[0].updateFrame();
		//wysiwyg.updateFrame();
		$("#selectedImage").val(ret.selectedImage);
		$("#when").val(ret.when);
		$("#video").val(ret.video);
  		$('#insert_news_form img').attr("src",ret.selectedImage || "/images/no_image.jpg");
  		$("#mailingLists input").each(function(){
  			$(this).attr('checked', false);
  		});
  		$('#newsID_global').val(ret.id);
  		// Focus the news tab
  		focusTab("CONTENT");
	});
}

// Get news details from servers
// @param newsId the news ID , no Lang
function getNewsInfo(newsId, callback){
	$.get( "/admin/get_news_info/"+newsId+"/IT", function(data ) {
		callback(data);
	}).fail(function() {
    	console.log("Error retriving info from server:"+newsId);
  	});
}

function resetNewNewsForm(){
	$("#title").val("");
	$("#subTitle").val("");
	wysiwyg[0].clear();
	$("#selectedImage").val("");
	$("#when").val("");
	$("#video").val("");
  	$('#insert_news_form img').attr("src","/images/no_image.jpg");
  	$("#mailingLists input").each(function(){
  		$(this).attr('checked', false);
  	});
  	$('#newsID_global').val(''); // the news is not set
}

// Populates the sortSlideBar div.
// Done on the client and not with handlebar since it should be updated client side when i add a content to the slideBar
// Updates also the submit button associated with
function updateSortSlideBar(){
	// Reset the content of sortableSlideContent
	$("#sortableSlideContent").html('');
	// FIXME: language should be a parameter!
	$.get("/admin/news_in_slidebar/"+"IT" , function(data){
		$.each(data , function(index, val){
			$("<div class=\"sortableSlideContentNews\" id=\"sortableSlideContent_"+val.id+"\" style=\"width:400px\" data-identifier=\""+val.id+"\"> \
				<div class=\"portlet\"> \
				<div class=\"portlet-header\">"+val.title+"</div> \
				<div class=\"portlet-content\">"+val.description+"</div> \
				</div>").appendTo("#sortableSlideContent");
		});	
		$( ".portlet" )
      		.addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" )
      		.find( ".portlet-header" )
        	.addClass( "ui-widget-header ui-corner-all" )
        	.prepend( "<span class='ui-icon ui-icon-minusthick portlet-toggle'></span>");
    	$( ".portlet-toggle" ).click(function() {
      		var icon = $( this );
      		icon.toggleClass( "ui-icon-minusthick ui-icon-plusthick" );
      		icon.closest( ".portlet" ).find( ".portlet-content" ).toggle();
    	}); 
		$( "#sortableSlideContent" ).sortable({
     		handle: ".portlet-header",
      		cancel: ".portlet-toggle",
      		placeholder: "portlet-placeholder ui-corner-all"
    	});
    	// We start with all the contents closed
    	$( ".portlet-content" ).toggle();
	});
	
	
	// Submit button
	$("#submit_button_sortableSlideContent").click(function(event) {
			var inputData = {
				'news': []
			};
			$( "#dialog-confirm" ).empty().append("Modificare i contenuti dello slideBar?").dialog({
  				title: "Warning",
  				buttons: [
    			{
      				text: "OK",
      				click: function() {
        				$( this ).dialog( "close" );
        				$(".sortableSlideContentNews").each(function(index){
        					// The each is run in the dom obj context
        					inputData.news.push($(this).data("identifier"));
        				});
        					$.ajax({
        						url: "/admin/set_news_in_slideBar",
        						type: "POST",
        						dataType: 'json',
        						contentType:"Application/json",
        						data: JSON.stringify(inputData),
        						success: function(response){console.log(response)}
       					});
      				}
    			},
    			{
      				text: "Cancel",
      				click: function() {
        				$( this ).dialog( "close" );
      				}
    			}
  	  		]});
			
			
	}); // click submit sortableSlideContent
}


// Focus a specific TAB. tabName should be one of TABS
function focusTab(tabName){
	if (TABS.indexOf(tabName) == -1)
		console.log("tab "+tabName+" does is not defined.")
	else
		$( "#tabs" ).tabs( "option", "active", TABS.indexOf(tabName));
}
</script>
    
</head>
<body>
<div id="dialog-confirm" title="Elimino?" hidden>
  
</div>

{{{body}}}


</body>


</html>
