<!DOCTYPE html>
<html lang="en">
<head>
    
     	
    	    <title>Castelli Tapparelli d'Azeglio di Lagnasco</title>
 	<meta name="google-site-verification" content="BhZR7k7wkDIrFCySJhIr0DzjoR6_oVq6zmXLnWJExt8" />
            <meta name="keywords" content="{{{pageKeywords}}}">
            <meta name="description" content="{{{pageDescription}}}"> 
    		
    		{{!-- Facebook Open Graph https://developers.facebook.com/docs/sharing/webmasters --}}
    		<meta property="og:title" content="{{{pageTitle}}}" />
			<meta property="fb:admins" content="1632092408" />
			<meta property="og:description" content="{{{text}}}" />
			<meta property="og:image" content="{{{image}}}" />
			<meta property="og:type" content="website" />
			<meta property="og:site_name" content="{{{pageTitle}}}" />
			<meta property="og:locale" content="it_IT" />
			<meta property="og:url" content="{{{url}}}" />
			{{!--
			<meta property="og:type" content="place" />
			<meta property="place:location:latitude"  content="Sample Location: Latitude" /> 
  			<meta property="place:location:longitude" content="Sample Location: Longitude" /> 
			--}}
  			
  			{{!-- twetter meta --}}
  			<meta name="twitter:card" content="{{{shortText}}}" />
			<meta name="twitter:site" content="@clagnasco" />
			<meta name="twitter:title" content="{{{pageTitle}}}" />
			<meta name="twitter:image" content="{{{image}}}" />
			<meta name="twitter:url" content="{{{url}}}" />
			
			<link hreflang="it" href="http://www.castellidilagnasco.it" />
    		<meta charset="utf-8"> 
   			<meta http-equiv="X-UA-Compatible" content="IE=8" />

			<meta name=viewport content="width=device-width, initial-scale=1">    
    

    {{!-- bxSlider CSS file --}}
        <link rel="stylesheet" type="text/css" media="screen" href="/css/jquery.bxslider.css" rel="stylesheet" />
   
   		<link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">

    
	<!--[if lt IE 7]>
   <div style=' clear: both; text-align:center; position: relative;'>
     <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
       <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
    </a>
  </div>
<![endif]-->
    
    <!--[if lt IE 9]>
   		<script type="text/javascript" src="/js/html5.js"></script>
    	<link rel="stylesheet" type="text/css" media="screen" href="/css/ie.css">
	<![endif]-->
    
    
</head>
<body>

<div id="top_block" class="z-ind" style="height:700px;">

		<div class="main">
        <div style="margin:0 auto; text-align:center;color:#fff;top:34px; position:absolute; left:850px; vertical-align:bottom;">
        </div>
        
        <div style="margin:0 auto; text-align:center;color:#FFF;top:34px; position:absolute;">
        	<img src="/images/scritta.png" style="padding-bottom:50px;">
        </div>
        <div style="display:block;position:absolute;left:850px;top:40px;" class="fb-follow" data-href="https://www.facebook.com/pages/Castello-di-Lagnasco/268114666636733" data-colorscheme="dark" data-layout="button" data-show-faces="false"></div>
        <div style="display:block;position:absolute;left:910px; top:40px;">
        <a class="twitter-follow-button"
  			href="https://twitter.com/CLagnasco"
  			data-show-count="false"
  			data-lang="it"
  			data-show-screen-name="false">
			Follow @CLagnasco
		</a>
		</div>
		<div style="position:absolute;top:27px;left:970px;">
			<div class="g-plusone"  data-size="medium" data-annotation="none" data-href="http://www.castellidilagnasco.it"></div>
		</div>
		<!--==============================header=================================-->
        <header>
          <h1><p style="padding-top:0px;"><img src="/images/logo.png" style="padding-left:50px;"></p></h1>
          	<nav class="height">
           		<div class="container_24">
                     <ul class="sf-menu">
                        <li class="current" id="homeMenu"><a href="/index.html">Home</a></li>
                        <li>
                        	<a href="#" id="attivitaMenu" onClick="setCurrent('attivitaMenu'); return false;">Attività<span></span></a>
                        	<ul>
                                <li><a href="/news/Firme_da_Collezione_800_900_Mostra_permanente/IT">Iniziative in corso</a></li>
                                <li><a href="/news/attivita_didattiche_2015/IT">Per le scuole</a></li>
                            </ul>
                        </li>
                        <li><a href="/news_list" id="newsMenu">News&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                        
                        <li class="second_part">
                        	<a href="#">Il Castello<span></span></a>
                        	<ul>
                                <li><a href="/storia.html">La storia</a></li>
                                <li><a href="/territorio.html">Il territorio</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="/gallery.html" id="galleryMenu">Gallery</a></li>
                        <li  style="padding-left:15px; color:#f2f2f0;"><a href="/contatti.html"">Info/Contatti</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
        	</nav>
        </header>
        
{{!-- index requires a different structure --}}
{{#if isIndex }}
{{else}}
	<div style="height:72px; clear:both;"></div>
	<div id="content_block" class="z-ind2">
	<div class="bg"></div>
    <div class="main" style="background-color:#fff;">
{{/if}}

{{{body}}}


<footer>
        	<a href="#" id="back_button"></a>
        	Castelli di Lagnasco : Via Castelli, 4 - 12030 Lagnasco (CN) - Email: <a href="mailto:info@castellidilagnasco.it">info@castellidilagnasco.it</a>
            <br />
            <a href="https://www.castellidilagnasco.it:444/admin/manageNews.html">
            	<img src="/images/lock.png" border="0"/>	
            </a>
            
        </footer>
</div>




{{#if production}}


  <!-- -------- GOOGLE analytics ------------ -->
 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59289238-1', 'auto');
  ga('send', 'pageview');

 </script>
        <!-- -------- GOOGLE analytics ------------ -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

   <!-- EU COOCKIE LAW -->
   <script type="text/javascript" src="http://storage.permissionbar.com/permissionbar-latest.min.js"></script>

  {{!-- -------- FACEBOOK ------------ --}}
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1608557276133509',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  </script>
  {{!-- -------- FACEBOOK ------------ --}}

{{!-- -------- Tweeter ------------ --}}
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));</script>
{{!-- -------- Tweeter ------------ --}}

{{!-- google+ --}} 
	<script type="text/javascript">
  window.___gcfg = {lang: 'it'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
{{!-- google+ --}} 

{{else}}
        <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
{{/if}}

    <!-- conversione di alcuni font previsti dai css -->
    <script src="/js/cufon-yui.js" type="text/javascript"></script>
    <script src="/js/Trajan_Pro_400.font.js" type="text/javascript"></script>
    <script src="/js/cufon-replace.js" type="text/javascript"></script>

    <!-- bxslider con video http://bxslider.com/-->
    <script src="/js/jquery.bxslider.min.js" type="text/javascript"></script>
    <script src="/js/jquery.fitvids.js" type="text/javascript"></script>
  
   <script type="text/javascript" src="/js/jquery.snow.min.1.0.js"></script> 

    <!-- Menu a tendina -->
        <script type="text/javascript" src="/js/superfish.js"></script>

  <script>
	// On document ready
                $(function(){
			// NATALE!
			//$.fn.snow();
                        // Index page Slider
                        $('.bxslider').bxSlider({
                                auto: false,
                                autoControls: false,
                                mode: 'fade',
                                captions:true,
                                autoHover: false,
                                easing: "ease",
                                pagerType:"short",
                                video: true,
                                autoStart:true
                        });

                        // Gallery page
                        var galleryMap = {};
                        var galleries = {};
                        // Dynamic load of the gallery
                        $.get( "/getGalleries", function( data ) {
                                galleries = data;
                                // Maps gallery ids with position in array
                                data.gallery.forEach(function(element , index){
                                        galleryMap[element.id] = {id:element.id , index:index}
                                });
                                renderGallery(data.gallery[0]);
                        });

                        function renderGallery(gallery){
                                var galHTML = '<UL class="gallery_slider" id="'+gallery.id+'">';
                                $("#theGallery").html("");
                                gallery.elements.forEach(function(element){
                                        galHTML += "<li>";
                                                if (element.isVideo)
                                                        galHTML += '<iframe src="'+element.video+'" width="630" height="433" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>';
                                                else
                                                        galHTML += '<img width="630" height="433" src="'+element.image+'" title="'+element.title+'"/>';
                                        galHTML += "</li>";
                                });
                                galHTML += "</UL>";
                                $("#theGallery").html(galHTML);
                                $('.gallery_slider').bxSlider({
                                        auto: true,
                                        autoControls: false,
                                        mode: 'fade',
                                        captions:true,
                                        autoHover: true,
                                        easing: "ease",
                                        pagerType:"short",
                                        video: true,
                                        autoStart:true  ,
                                        autoControls:true,
                                        autoControlsCombine:true,
                                        autoHover:true
                                });
                        }

                        // Gallery change buttons
                        $(".galleryButton").click(function(event){
                                var gID = $(event.currentTarget).data('gallery');
                                renderGallery(galleries.gallery[galleryMap[gID].index]);
                        });

	});
    </script>

</body>


</html>
