
     
    <!--==============================content================================-->
        <section id="content" class="cont_pad">
            <div class="container_24" style=" padding-top:26px;">
                <div class="wrapper">
                   
                    <article class="grid_dx">
                   	  	<div class="bg2 block1 color1">
                        	<table width="100%">
                            <tr>
                           		 <td><h3 style="font-size:12px;">Lunedi 23 Marzo 2015</h3></td>
                                 <td align="right">
                                	 <table>
									 	<tr>
                                        	<td align="left" style="padding-right:12px;"><h3 style="font-size:12px;">condividi</h3></td>
                                        	<td><table width="40%"><tr>

<td><span  class='st_facebook_large' st_url="http://www.castellidilagnasco.it/ASP/Attivita_Didattiche_201320148.html" st_title="Attivit&agrave; Didattiche 2014-2015"></span></td>
 
<td><span  class='st_twitter_large' st_url="http://www.castellidilagnasco.it/ASP/Attivita_Didattiche_201320148.html" st_title="Attivit&agrave; Didattiche 2014-2015"></span></td>

<td><span  class='st_email_large' ></span></td>

<td style="vertical-align:middle; padding-top:15px;"><span class="st_plusone_large" st_url="http://www.castellidilagnasco.it/ASP/Attivita_Didattiche_201320148.html"></span></td>

<td  style="padding-top:5px;"><span class="st_fblike" st_url="http://www.castellidilagnasco.it/ASP/Attivita_Didattiche_201320148.html"></span></td>

</tr></table>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher:'b8529ed1-4384-4079-861b-9b6c261c2d51'});</script></td>
                                        </tr>
                                     </table>
                                 </td>
                            </tr>
                            </table>
                            <br />
                        	<h3 style="font-size:25px;">
                            	Attivit&agrave; Didattiche 2014-2015
                            </h3>
                            	<br>
                        		<div class="b_bot">
                            	<table>
                                <tr>
                                	<td colspan="2">
										
                            	    		<a href="/images/201427172143.jpg" rel="shadowbox" title="" style="text-decoration:none;">
                                                <img src="/images/201427172143.jpg" width="292" alt="" align="left" style="padding:10px;">
                                            </a>
                                        Anche quest'anno i Castelli Tapparelli d'Azeglio di Lagnasco offrono alle scuole la possibilit&agrave; di visitare le meravigliose sale del maniero divertendosi! Non solo dunque la storia del Castello, ma miti, usanze, animali fantastici, tecniche artistiche, personaggi artistici saranno i protagonisti dei nostri viaggi! <br>
Aprite il documento e scoprite le nostre proposte!
                                    </td>    
                            	</tr>
                                
								
                                 <tr>   
                                  	<td width="50%" valign="top">  
                                    
                                 
                                   	<table>
                                    <tr><td height="22px"></td></tr>
                                    <tr><td>     
                                            <div align="left" style="padding:5px;display:block;margin-top:5px;" id="all">
                                             <table>
                                        		<tr><td>
                                            	<h3 style="color:#333; font-size:13px;">IN ALLEGATO...</h3>
                                                </td></tr>
                                                <tr><td height="12px"></td></tr>
                                                <tr><td style="padding-top:4px;">
                                            
                                                                    <img src="/images/tipi/icona_acrobat.gif" border="0" hspace="1" vspace="1" alt="" align="absmiddle" style=" border:0px solid #FFFFFF;" />
                                                                    
                                                                <a target="_blank" href="/allegati/offerta didattica 2014-15.pdf" class="ElencoTitolo">
                                                                    Offerta Didattica
                                                                </a><br />
                                                            
                                           	</td></tr></table>
                                            </div>
                                    </td></tr> 
                                    </table>
                                    

								    
									<td width="50%" valign="top" align="left"> 
                                    
										    
                                    </td>
                                    </tr>
                                    
                                </table>
                        		</div>
                        </div>
                    </article>
                    
                   
                </div>
              </div>                
            </section>
       </div> 
