     
    <!--==============================content================================-->
        <section id="content" class="cont_pad">
            <div class="container_24" style=" padding-top:26px;">
                <div class="wrapper">
                   
                    <article class="grid_dx">
                   	  	<div class="bg2 block1 color1">
                        	<h3 style="font-size:25px;">Contatti</h3><br>
                        	<div class="b_bot" style="margin-left:auto;margin-right:auto;">
                            	<b>Castelli di Lagnasco</b><br />
                                Via Tapparelli, 1 - 12030 Lagnasco (CN)<br />
                                Email: <a href="mailto:info@castellidilagnasco.it">info@castellidilagnasco.it </a><br />
								Cell :  345/5015789
                                <br />
                              
                                
                                <br /><br/>
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2839.6881768559765!2d7.555390000000003!3d44.623849999999976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cd4f122429d785%3A0xcc0816c532c43560!2sCastelli+Tapparelli+D&#39;Azeglio!5e0!3m2!1sit!2sit!4v1429974597013" width="400" height="300" frameborder="0" style="border:0"></iframe>
                              
                            </div>
                            
                        </div>
                    </article>
                     
                </div>
              </div>                
            </section>

       </div> 

