     
    <style type="text/css">
        .div_gallery {
            height: 100px;
            background-color: #000000;
            opacity:0.9;
            filter:alpha(opacity=73); /* For IE8 and earlier */
        }
        
   </style>   


    <!--==============================content================================-->
        <section id="content" class="cont_pad">
            <div class="container_24" style=" padding-top:26px;">
                <div class="wrapper">
                   
                    <article class="grid_dx">
                   	  	<div class="bg2 block1 color1" style="height:550px">
                        	<h3 style="font-size:25px;">Castelli Tapparelli D'Azeglio di Lagnasco</h3><br>
                        	<div class="b_bot" style="width:630px;height:433px;margin-left: auto ;margin-right: auto ;">
                            	 <H3>
                            	 	{{#each gallery}}
                                     	<span data-gallery="{{{id}}}" class="galleryButton">{{{title}}} </span>| 
                                     {{/each}}
                                    </h3>
                            	 	<P>
                                     <div id = "theGallery"/>
                            </div>
                            
                        </div>
                    </article>
                     
                </div>
              </div>                
            </section>
       </div> 