<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v2.3&appId=1608557276133509";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="white_box">
        	<div class="container_24">

            	<div class="wrapper">

                	<div class="grid_16">

                          <ul class="bxslider">

                           {{#each slideBar}}
                            	<li>
                            		{{#if isVideo}}
                            			<iframe src="{{{video}}}" width="630" height="433" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>	
                            		{{else}}
										<A HREF="{{{url}}}"><img width="630" height="433" src="{{{selectedImage}}}" title="{{{title}}}"/></A>
									{{/if}}
                            		
                            	</li>
						   {{/each}}
              
                          </ul>


                    </div>

                    <div class="grid_8">

                    	<div class="offer_box" style="height:436px">
							{{#each sideBar}}
								<div class="offer" style="height:218px">
                                <table width="100%" style="table-layout: fixed;">
                                	<tr>
                                    	<td colspan="2" width="100%">
                                    		
                                            <a href="{{{pageUrl}}}"><h3 style="color:#000000; font-size:16px;">{{{title}}}</h3></A>
                                            
                                        </td>
                                    </tr>
                                    <tr><td height="6px"></td></tr>
                                    <tr>
                                    	<td style="line-height:normal;" valign="top">
                                        	<p> 
										    	{{{shortText}}}                                       
										    </p>
                                        </td>
                                        <td valign="top" style="padding-left:5px;" align="right">	
                                        	
                                           	 	<img src="{{{selectedImage}}}"   style="border:1px solid #ccc; padding:3px;max-height:150px;max-width:100px;" alt="{{{title}}}" title="{{{title}}}">
                                            
                                        </td>
                                    </tr>
                                    <tr><td height="6px"></td></tr>
                                    <tr>
                                    <td colspan="2" align="left" width="200px">
                                    	<div style="display:block;position:absolute;" class="fb-like" 
  											data-share="true"
  											data-width="450"
  											data-show-faces="false"
  											data-href="{{{url}}}"
  											data-image="{{{image}}}"
  											data-layout="button">
										 </div>
										 <div style="display:block;position:absolute;left:170px;">
											<a class="twitter-share-button" href="https://twitter.com/share"
  											data-count="none" data-text="{{{shortText}}}" data-hashtags="castellidilagnasco,ilcastellotifabello" data-via="CLagnasco"> 
														Tweet
											</a>
											</div>
                                    </td>
                                    </tr>
                                </table>
                                 
                            </div>

	
							{{/each}}


                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>       

        





<div id="content_block" class="z-ind2">

	<div class="bg"></div>

    <div class="main" style="background-color:#fff;">

    <!--==============================content================================-->

        <section id="content" class="cont_pad">

            <div class="container_24" style=" padding-top:26px;">

                <div class="wrapper">

                     

                    <article class="grid_9">

                   	  	<div class="bg2 block1 color1" style="width:480px;">

                        	<h3 style="font-size:25px;">I castelli</h3><br>

                        	<div class="b_bot">

                            	<!--img src="/images/1page_img3.jpg" width="292" height="152" alt="" align="left" style="padding:6px;" -->
                            	<img src="/images/IMG_1435.jpg" width="292" height="152" alt="" align="left" style="padding:6px;">

                                Immersi nella splendida campagna del saluzzese e protetti dal suggestivo scenario del Monviso, i Castelli di Lagnasco sono un 

                                complesso castellato che ingloba tre diversi edifici, nati sul finire del XI° secolo e sviluppatisi fino al XVIII°. 

                                <!--P align="right" style="margin:0; padding:0px;"-->

                                	<a href="http://www.castellidilagnasco.it/storia.html" class="read_more color2" >continua</a> 

                                </p>

                            </div>

                             

                        </div>

                        <div class="bg2 block1 color1" style="background-color:#FFFF00;width:480px;">

                      		<ul class="list2">

                            	<li><h3 style="font-size:25px;">AFFITTA IL CASTELLO</h5></li>

                            	

                                 <li style="font-size:14px;">

                                 	Rendete unici i vostri eventi!

                        			<img src="/images/notte.jpg" align="left" style="margin:1px;padding-right:8px;"/>

                                    Un autorevole seminario, una convention, una conferenza stampa, una cena prestigiosa, un set fotografico o  cinematografico, 

                	            	un anniversario o il giorno delle vostre nozze. <br /><br /><br />

                                    Il luogo ideale per un evento eccezionale.<br /><br />
				<P>
				<A HREF="http://www.castellidilagnasco.it/news/affitta_il_castello/IT">Maggiori informazioni</A><P>

        	                    	Per info e contatti <br />

    	                        	<a href="mailto:info@castellidilagnasco.it">info@castellidilagnasco.it</a><br />

	                            	Cell :  345/5015789

                                </li>

							</ul>

                        

                        </div>

                    </article>

                    

                    <article class="grid_7">

                    	<div class="bg3 block2" style="width:380px;margin-left:180px; padding:8px;">

                        	<h3 style="font-size:25px;">Le Aperture 2016</h3><br>

                            <ul class="list2">

                            	<li><h5>Tutte le Domeniche dal 27 Marzo al 6 Novembre</h5></li>

                                <li>

                                    	Visita libera - visita guidata su prenotazione<br />
                                Visite infrasettimanali previa prenotazione.
					
						        </li>	
				<LI>
					<A HREF="/news/orari/IT">Maggiori informazioni</A>
				</LI>
                                

                               

                                

                                <li><img src="/images/notte1.jpg" width="380px"/></li>

                                

                                <li><h5> Per prenotare</h5>

                                <li> 

                                   Dal lunedì al venerdì, dalle 9.00 alle 12.00 al seguente numero telefonico: 345/5015789 ; 

                                oppure via mail al seguente indirizzo: info@castellidilagnasco.it 

								</li>
				<li>
					INFO GRUPPI, SCUOLE, VISITE GUIDATE, ATTIVITÀ DIDATTICHE

<BR>
						Tel. 0174/47428
				</li>

                                <li>

                                   Le visite infrasettimanali, essendo straordinarie e su prenotazione, non prevedono la gratuità 

                                   per i titolari dell' Abbonamento Musei Torino Piemonte 

                                   

                                </li>

                            </ul>

                        </div>

                    </article>

                </div>

              </div>                

            </section>

       </div> 
