<link rel="stylesheet" type="text/css" media="screen" href="http://www.castellidilagnasco.it/css/style.css">


<div class="main" style="width:500px;position:absolute; margin:0;">
        <div style="margin:0 auto; text-align:center;color:#fff;top:34px; margin-left: auto; margin-right: auto; vertical-align:bottom;">
        </div>
        
        <div style="margin:0 auto; text-align:center;color:#FFF;top:34px;">
        	<img src="{{{host}}}/images/scritta.png" style="padding-bottom:50px;">
        </div>
        
    	<!--==============================header================================= -->
        <header>
          <h1><p style="padding-top:0px;"><img src="{{{host}}}/images/logo.png" style="padding-left:50px;"></p></h1>
          	<nav class="height">
           		<div class="container_24"></div>
        	</nav>
        </header>



    <!--==============================content================================-->
        <section id="content" class="cont_pad" style="width:915px;margin-left: auto; margin-right: auto;">
            <div class="container_24" style=" padding-top:26px;">
                <div class="wrapper">
                   
                    <article class="grid_dx" style="width:915px">
                   	  	<div class="bg2 block1 color1">
                        	<table width="100%">
                            <tr>
                           		 <td><h3 style="font-size:12px;">{{{subTitle}}}</h3></td>
                                 <td align="right">
                                	 <table>
									 	<tr>
                                        	<td align="left" style="padding-right:12px;"></td>
                                        	<td><table width="40%"><tr>

										<td  style="padding-top:5px;">
											<div class="fb-like" 
  												data-share="true"
  												data-width="450"
  												data-show-faces="false"
  												data-href="{{{url}}}"
  												data-image="{{{host}}}{{{image}}}">
										 	</div>
										 </td>

</tr></table>
</td>
                                        </tr>
                                     </table>
                                 </td>
                            </tr>
                            </table>
                            <br />
                        	<h3 style="font-size:25px;">
                            	{{{title}}}
                            </h3>
                            	<br>
                        		<div class="b_bot">
                            	<table>
                                <tr>
                                	<td colspan="2">
										
                            	    		<a href="{{{host}}}{{{selectedImage}}}" rel="shadowbox" title="{{{title}}}" style="text-decoration:none;">
                                            <img src="{{{host}}}{{{selectedImage}}}" width="100" alt="{{{title}}}" align="left" style="padding:10px;">
                                            </a> {{{description}}} 
                                    </td>    
                            	</tr>
                                
								
                                 <tr>   
                                  	<td width="50%" valign="top">  
                                  	
                                  	
                                  	
                                  	{{#if attach}}
                        			<table>
                                    <tr><td height="22px"></td></tr>
                                    <tr><td>     
                                            <div align="left" style="padding:5px;display:block;margin-top:5px;" id="all">
                                             <table>
                                        		<tr><td>
                                            	<h3 style="color:#333; font-size:13px;">IN ALLEGATO...</h3>
                                                </td></tr>
                                                <tr><td height="12px"></td></tr>
                                                <tr><td style="padding-top:4px;">
                                            
                                                                    <img src="/images/attach.png" border="0" hspace="1" height="30px" vspace="1" alt="" align="absmiddle" style=" border:0px solid #FFFFFF;" />
                                                                    
                                                                <a target="_blank" href="{{{attach}}}" class="ElencoTitolo">
                                                                    {{{title}}}
                                                                </a><br />
                                                            
                                           	</td></tr></table>
                                            </div>
                                    </td></tr> 
                                    </table>
								
								{{/if}}
                                  	
                            
									<td width="50%" valign="top" align="left"> 
                                    
										    
                                    </td>
                                    </tr>
                                    
                                </table>
                        		</div>
                        		
                        </div>
                    </article>
                    
                   
                </div>
              </div>                
            </section>
       </div> 


<footer style="width:500px;position:absolute; top:400px;">
                Se non riesci a leggere correttamente questa email vai alla <A HREF="{{{url}}}" target="_castelli"> versione online</a><BR>
                Castelli di Lagnasco : Via Castelli, 4 - 12030 Lagnasco (CN) - Email: <a href="mailto:info@castellidilagnasco.it">info@castellidilagnasco.it</a>
            <br />
            <a href="http://www.castellidilagnasco.it">Castelli di Lagnasco</a>
 </footer>
