<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/js/jquery.form.js"></script>
<script type="text/javascript" src="/js/jquery-ui.js"></script>
<style>
	.warning {
		color: red;
	}
</style>

{{!-- D&D sort --}}
<style>
.portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
  }
  .portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
  }
  .portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
  }
  .portlet-content {
    padding: 0.4em;
  }
  .portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
  }
</style>

<!-- Jquery TABS declaration -->
<div id="tabs">
  <ul>
    <li><a href="#addNews">Nuovo contenuto</a></li>
    <li><a href="#manageNews">Gestisci contenuti</a></li>
    <li><a href="#firstPage">Prima pagina</a></li>
  </ul>
  
<!-- TAB addNews -->
<div id="addNews">


<!--------------------------------------- FORMS --------------------------------- -->
<div id="insertNewsDIV">
<form class="basic-grey" id="insert_news_form" ACTION="#">
    	<H1 > 
    		Gestione NEWS
			<span>Inserire tutti i campi contrassegnati con asterisco</span>
		</H1>

        	<label for="titolo">Titolo* </label>
        	<input id="title" name="title" type="text" >
        <p>
        	<label for="subTitle">Sotto titolo</label>
        	<input id="subTitle" name="subTtle" type="text" >
        <p>
        	<label for="description">Descrizione*</label>
        	<textarea id="description" name="description"></textarea>
        <p>
        	<label for="selectedImage" style="display: inline-block;vertical-align: middle;">Immagine*</label>
        	<input id="selectedImage" name="selectedImage" type="text" disabled hidden>
        	<img id="selectedImageThun" src="/images/no_image.jpg" border="0" width="80" style="display: inline-block; vertical-align: middle;">
        	<span id="selectImageButton"></span>
        	<span id="uploadImageButton"></span>
        <p>
        	<label for="video">Video (URL)</label>
        	<input id="video" name="video" type="text" >
        <p>
        	<label for="when">Quando*</label>
        	<input id="when" name="when" type="text" >
        <P>
    	<label id="language_label" for="language">Lingua*</label>
        <select name="language" form="insert_news_form" id="language" value>
  			<option value="IT" selected="selected">Italiano</option>
  			<option value="EN">English</option>
		</select>
			<p>
        	<span id="sendMail"></span>
		<P>	
			<input id="newsID_global" name="newsID_change" type="text" hidden disabled>
	<div id="fileUploadDIV"></div> 
	<p>
	<input class="submit" type="submit" value="Submit" id="submit_button">
	<button id="reset">Reset</button>
	
</form>

<P>
{{!-- Will be used for build the Dialog box for select distribution list --}}
<div id="mailingLists" hidden>
	{{#each MLs}}
		<input type="checkbox" name="{{{id}}}" value="{{{id}}}"> {{{name}}}
		<P>
	{{/each}}
</div>


<!--------------------------------------- BUTTONS --------------------------------- -->

<div id="fileSelection"></div>
</div> <!-- insertNewsDIV -->

</DIV> <!-- addNews TAB -->
<!--------------------------------------- addNews ENDED --------------------------------- -->


<!--------------------------------------- manageNews --------------------------------- -->
<DIV id="manageNews">
<form class="basic-grey" action="#" style='max-width:100%'>
	<H1> Gestione dei contenuti </H1>
{{!-- http://www.jquery-bootgrid.com/Examples#5 --}}
<table id="news_grid" class="table table-condensed table-hover table-striped" >
    <thead>
        <tr>
            <th data-column-id="title" data-order="desc">Titolo</th>
            <th data-column-id="subTitle" data-order="desc">Sotto titolo</th>
            <th data-column-id="when" data-order="desc">Quando</th>
            <th data-column-id="language" data-order="desc">Lingua</th>
            <th data-column-id="description">Descrizione</th>
            <th data-column-id="selectedImage">Immagine</th>
            <th data-column-id="video">Video</th>
            <th data-column-id="firstPageSpalla" data-formatter="firstPageSpalla" data-type="bool">Spalla</th>
            <th data-column-id="SlideBar" data-formatter="SlideBar" data-type="bool">SlideBar</th>
            <th data-column-id="MobileApp" data-formatter="MobileApp" data-type="bool" data-sortable="true" >App Mobile</th>
            <th data-column-id="commands" data-formatter="commands" data-sortable="false">Azioni</th>
        </tr>
    </thead>
</table>
</form>
</DIV> <!-- manageNews TAB -->
<!--------------------------------------- manageNews  ENDED--------------------------------- -->

<!--------------------------------------- First Page --------------------------------- -->
<DIV id="firstPage">
<H3>Ordine dei contenuti nello slideBar</H3>
	{{!-- SORT SLIDEBAR --}}
<div id="sortableSlideContent" style="width:500px; border-style:groove; padding:10px;">	
</div>	
<div style="margin:20px;">
	<input class="submit" type="submit" value="Submit" id="submit_button_sortableSlideContent">
</div>
	
	
</DIV> <!-- firstPage TAB -->
<!--------------------------------------- firstPage  ENDED--------------------------------- -->

</div><!-- END jquery TABS ---- -->

<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/js/jquery.form.js"></script>
