     
    <!--==============================content================================-->
        <section id="content" class="cont_pad">
            <div class="container_24" style=" padding-top:26px;">
                <div class="wrapper">
                   
                    <article class="grid_dx">
                   	  	<div class="bg2 block1 color1">
                        	<table width="100%">
                            <tr>
                           		 <td><h3 style="font-size:12px;">{{{subTitle}}}</h3></td>
                                 <td align="right">
                                	 <table>
									 	<tr>
                                        	<td align="left" style="padding-right:12px;"></td>
                                        	<td><table width="40%"><tr>

										<td  style="padding-top:5px;">
											<div class="fb-like" style="display:block; position:absolute;left:500px;"
  												data-share="true"
  												data-width="450"
  												data-show-faces="false"
  												data-href="{{{url}}}"
  												data-image="{{{image}}}"
  												data-layout="button">
										 	</div>
											<div style="display:block;position:absolute;left:600px;">
											<a class="twitter-share-button" href="https://twitter.com/share"
  											data-count="none" data-text="{{{shortText}}}" data-hashtags="castellidilagnasco" data-via="CLagnasco"> 
														Tweet
											</a>
											</div>
										 </td>

</tr></table>
<div class="shareThis" href="{{{pageUrl}}}" data-href="{{{pageUrl}}}" data-url="{{{pageUrl}}}" data-text="{{{text}}}" data-title="{{{title}}}"></div>
</td>
                                        </tr>
                                     </table>
                                 </td>
                            </tr>
                            </table>
                            <br />
                        	<h3 style="font-size:25px;">
                            	{{{title}}}
                            </h3>
                            	<br>
                        		<div class="b_bot">
                            	<table>
                                <tr>
                                	<td colspan="2">
										
                            	    		<a href="{{{selectedImage}}}" rel="shadowbox" title="" style="text-decoration:none;">
                                            <img src="{{{selectedImage}}}" width="292" alt="" align="left" style="padding:10px;">
                                            </a> {{{description}}} 
                                    </td>    
                            	</tr>
                                
								
                                 <tr>   
                                  	<td width="50%" valign="top">  
                                  	
                                  	
                                  	
                                  	{{#if attach}}
                        			<table>
                                    <tr><td height="22px"></td></tr>
                                    <tr><td>     
                                            <div align="left" style="padding:5px;display:block;margin-top:5px;" id="all">
                                             <table>
                                        		<tr><td>
                                            	<h3 style="color:#333; font-size:13px;">IN ALLEGATO...</h3>
                                                </td></tr>
                                                <tr><td height="12px"></td></tr>
                                                <tr><td style="padding-top:4px;">
                                            
                                                                    <img src="/images/attach.png" border="0" hspace="1" height="30px" vspace="1" alt="" align="absmiddle" style=" border:0px solid #FFFFFF;" />
                                                                    
                                                                <a target="_blank" href="{{{attach}}}" class="ElencoTitolo">
                                                                    {{{title}}}
                                                                </a><br />
                                                            
                                           	</td></tr></table>
                                            </div>
                                    </td></tr> 
                                    </table>
								
								{{/if}}
                                  	
                            
									<td width="50%" valign="top" align="left"> 
                                    
										    
                                    </td>
                                    </tr>
                                    
                                </table>
                        		</div>
                        		
                        </div>
                        <div class="fb-comments" data-href="{{{url}}}" data-numposts="5" data-colorscheme="light" width="600px"></div>
                    </article>
                    
                   
                </div>
              </div>                
            </section>
       </div> 

