        

    
    <!--==============================content================================-->
        <section id="content" class="cont_pad">
            <div class="container_24" style=" padding-top:26px; background-color:#FFFFFF;">
                <div class="wrapper" style="background-color:#FFFFFF;">
                   
                    <article class="grid_dx">
                   	  	<div class="bg2 block1 color1" style="background-color:#FFFFFF;">
                        	
                        	<h3 style="font-size:25px;">News</h3><br>
                            <div class="b_bot">
                            	<table width="80%" align="center">
									
										{{#each news}}
    										<tr>
                                        	<td style="background-color: #F9F9F9; padding:8px;">	
                                            	<table width="100%">
                                            		<tr>
                                                    	<td colspan="2" style="padding-bottom:6px;">
															<h3 style="font-size:16px;">
                                                        	{{{title}}}
                                                            </h3>
                                                            <hr  size="1" color="#F2F2F2"/>
                                                            <font style="color:#917864;">
                                                            {{{when}}}<br />
                                                            </font>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                    	<td valign="top" width="20%">
                                                        	
                                                        		 <img style="border:1px solid #CCCCCC; padding:3px solid; padding:3px ;" src="{{{selectedImage}}}" alt="{{{title}}}"  width="120px"/>
                                                        	
                                                        </td>
                                                        <td valign="top" width="80%">
															{{{description}}}
                                                            <p align="right">
                                                            	<b style="color:#000000;">
                                                                    <a href="/news/{{{id}}}/{{{language}}}">LEGGI TUTTO</a>
                                                                </b>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    </table>
                                            </td>	
                                		</tr>
                                        <tr><td height="16px"></td></tr>
										{{/each}}
									
     
                                	
                             	</table>
                            </div>
                            
                        </div>
                    </article>
                     
                </div>
              </div>                
            </section>
       </div> 