
        
    <!--==============================content================================-->
        <section id="content" class="cont_pad">
            <div class="container_24" style=" padding-top:26px;">
                <div class="wrapper">
                   
                    <article class="grid_dx">
                   	  	<div class="bg2 block1 color1">
                        	<h3 style="font-size:25px;">La STORIA</h3><br>
                        	<div class="b_bot">
                            	 <table>
                                 <tr>
                                 <td>
                                         I Castelli dei Marchesi Tapparelli D’Azeglio di Lagnasco si presentano come un complesso castellato che ingloba tre diversi edifici 
                                         nati sul finire dell’ XI° secolo e sviluppatisi fino al XVIII°. La costruzione ebbe inizio intorno al 1100 per opere dei Marchesi di 
                                         Busca, i quali costruirono un fortilizio difensivo corrispondente all’attuale manica centrale. Nella prima metà del XIV° secolo, in 
                                         un epoca caratterizzata da continue lotte territoriali e che vide come protagonisti anche gli Angiò, il primo nucleo dei Castelli 
                                         venne ampliato e riorganizzato da Manfredo IV di Saluzzo.<br /><br />
                                         
                                       
                                         
                                         Dimora ufficiale della signoria dei Tapparelli a partire dalla seconda metà del 1300, i Castelli videro nel XVI° secolo il periodo di
                                         maggior rinnovamento architettonico ed artistico grazie al volere di Benedetto I° Tapparelli, figura eclettica e raffinata, giudice 
                                         in Saluzzo durante il dominio francese di re Francesco I . Sul finire del XIX° secolo Emanuele D’Azeglio Tapparelli, ultimo 
                                         discendente della signoria, riportò sotto il suo controllo l’intero complesso negli anni condiviso con altre famiglie nobili. 
                                         <br /><br />
                                         
                                         
                                         Alla sua morte, avvenuta nel 1890, i Castelli e le terre vennero messi a disposizione della comunità, rispettando il volere di un uomo 
                                         nobile di spirito oltre che di rango.<br /><br />
                                         Nel 1998 ebbero inizio i lavori di riqualificazione del complesso che durarono fino al 2008, riportando alla luce un inaspettato 
                                         scrigno di meraviglie e splendida testimonianza di evoluzione artistica ed architettonica plurisecolare.
                                         <br /><br />
                                           <p align="center">
                                         	<img src="/images/storia4.jpg"><br />
                                         </p>
                                 </td>
                                 <td>
                                 	<img src="/images/storia1.jpg" width="170px"><br />
                                    <img src="/images/storia2.jpg" width="170px"><br />
                                    <img src="/images/storia3.jpg" width="170px">
                                    
                                 </td>
								 </table>	
                             
                            </div>
                            
                        </div>
                    </article>
                </div>
              </div>                
            </section>
       </div> 

