
    <!--==============================content================================-->
        <section id="content" class="cont_pad">
            <div class="container_24" style=" padding-top:26px;">
                <div class="wrapper">
                   
                    <article class="grid_dx">
                   	  	<div class="bg2 block1 color1">
                        	<h3 style="font-size:25px;">il territorio</h3><br>
                        	<div class="b_bot">
                            	<p align="center">
                                	<img src="/images/territorio.jpg">
                                </p>
                                Un comprensorio agricolo ubicato all’ estremo ovest della ricca pianura padana, all’ ombra, quasi avvolto, dall’ arco alpino, con i 
                                suoi massicci, il nostro Monviso su tutti, disposti a semicerchio come a proteggere con fare materno la propria piccola creatura.
                                Lo si vede nelle splendide giornate primaverili, quando la fresca brezza mattutina fa rinascere, non solo le piante, ma anche noi
                                esseri umani dal torpore invernale; l’olfatto è rapito dalla natura che si risveglia e la vista si perde tra i magnifici colori dei
                                frutteti in fiore, disposti su una scenografia quasi surreale, dalla Bisalta al Monte Rosa, che permette ai nostri occhi di seguire una 
                                successione di colori che spazia dal rosa dei fiori di pesco, al bianco della neve sui monti, all’ azzurro del cielo terso.
                                <br /><br />
                                Un paesaggio incantevole che molte volte ci sfugge dal suo contesto più suggestivo, perché rapito da quella frenesia a tratti 
                                incontrollabile che è parte del nostro vivere quotidiano. Dietro a quell’ aspetto romantico si cela poi un altro significato,
                                non meno importante e sicuramente più immediato, tanto da rubarle prepotentemente la scena: la forte valenza economica che questo 
                                territorio ha saputo e sa esprimere. La frutta che ha fatto la fortuna di un’ intera area, e della gente che in essa vive, 
                                ma anche simbolo di intuizione, caparbietà, volontà degli uomini che hanno creduto in questa vocazione della terra che li ospitava e
                                con fatica e lavoro hanno saputo scovarla, perseguirla e farla prepotentemente emergere.
                                <br /><bR />
                                
                                <p align="center">
                                	<img src="/images/territorio1.jpg" width="250px">
                                    <img src="/images/territorio2.jpg" height="166px">
                                    <img src="/images/territorio3.jpg" width="250px">
                                </p> 
                                
                                
                                Nel 1927 i lagnaschesi Michele Ceirano e Giuliano Sacchetto impiantarono, primi in Piemonte, un pescheto di Hale, 
                                varietà fatta giungere appositamente dalla California; in breve tempo si formò un gruppo di frutticoltori fiduciosi e uniti che 
                                diedero slancio al settore e servirono da esempio per altri agricoltori.
                                Oggi, nel solo comune di Lagnassco, più di 1500 ettari di terreno sono coltivati a  frutteto.
                                <br /><bR />
                                
                                <i>Tratto da: Oscar Fiore, Postfazione, in “I Frutteti del Monviso” – 2008</i>

                             
                            </div>
                            
                        </div>
                    </article>
                     
                </div>
              </div>                
            </section>
       </div> 
