


/**/

a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}input[type=text], textarea{ outline:none;}


/**/

/**/

.container_24{margin:0 auto;width:960px;}
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16,.grid_17,.grid_18,.grid_19,.grid_20,.grid_21,.grid_22,.grid_23,.grid_24{display:inline;float:left;position:relative;margin-left:5px;margin-right:5px}

.grid_dx{display:inline;float:left;position:relative;margin-left:5px;margin-right:5px}
.container_24 .grid_dx{width:950px}



.alpha{margin-left:0}
.omega{margin-right:0}
.container_24 .grid_1{width:30px}
.container_24 .grid_2{width:70px}
.container_24 .grid_3{width:110px}
.container_24 .grid_4{width:150px}
.container_24 .grid_5{width:190px}
.container_24 .grid_6{width:230px}
.container_24 .grid_7{width:270px}
.container_24 .grid_8{width:310px}
.container_24 .grid_9{width:350px}
.container_24 .grid_10{width:390px}
.container_24 .grid_11{width:430px}
.container_24 .grid_12{width:470px}
.container_24 .grid_13{width:510px}
.container_24 .grid_14{width:550px}
.container_24 .grid_15{width:590px}
.container_24 .grid_16{width:630px}
.container_24 .grid_17{width:670px}
.container_24 .grid_18{width:710px}
.container_24 .grid_19{width:750px}
.container_24 .grid_20{width:790px}
.container_24 .grid_21{width:830px}

.container_24 .grid_22{width:870px}
.container_24 .grid_23{width:910px}
.container_24 .grid_24{width:950px}
.container_24 .prefix_1{padding-left:40px}
.container_24 .prefix_2{padding-left:80px}
.container_24 .prefix_3{padding-left:120px}
.container_24 .prefix_4{padding-left:160px}
.container_24 .prefix_5{padding-left:200px}
.container_24 .prefix_6{padding-left:240px;}
.container_24 .prefix_7{padding-left:280px}
.container_24 .prefix_8{padding-left:320px}
.container_24 .prefix_9{padding-left:360px}
.container_24 .prefix_10{padding-left:400px}
.container_24 .prefix_11{padding-left:440px}
.container_24 .prefix_12{padding-left:480px}
.container_24 .prefix_13{padding-left:520px}
.container_24 .prefix_14{padding-left:560px}
.container_24 .prefix_15{padding-left:600px}
.container_24 .prefix_16{padding-left:640px}
.container_24 .prefix_17{padding-left:680px}
.container_24 .prefix_18{padding-left:720px}
.container_24 .prefix_19{padding-left:760px}
.container_24 .prefix_20{padding-left:800px}
.container_24 .prefix_21{padding-left:840px}
.container_24 .prefix_22{padding-left:880px}
.container_24 .prefix_23{padding-left:920px}
.container_24 .suffix_1{padding-right:40px}
.container_24 .suffix_2{padding-right:80px}
.container_24 .suffix_3{padding-right:120px}
.container_24 .suffix_4{padding-right:160px}
.container_24 .suffix_5{padding-right:200px}
.container_24 .suffix_6{padding-right:240px}
.container_24 .suffix_7{padding-right:280px}
.container_24 .suffix_8{padding-right:320px}
.container_24 .suffix_9{padding-right:360px}
.container_24 .suffix_10{padding-right:400px}
.container_24 .suffix_11{padding-right:440px}
.container_24 .suffix_12{padding-right:480px}
.container_24 .suffix_13{padding-right:520px}
.container_24 .suffix_14{padding-right:560px}
.container_24 .suffix_15{padding-right:600px}
.container_24 .suffix_16{padding-right:640px}
.container_24 .suffix_17{padding-right:680px}
.container_24 .suffix_18{padding-right:720px}
.container_24 .suffix_19{padding-right:760px}
.container_24 .suffix_20{padding-right:800px}
.container_24 .suffix_21{padding-right:840px}
.container_24 .suffix_22{padding-right:880px}
.container_24 .suffix_23{padding-right:920px}
.container_24 .push_1{left:40px}
.container_24 .push_2{left:80px}
.container_24 .push_3{left:120px}
.container_24 .push_4{left:160px}
.container_24 .push_5{left:200px}
.container_24 .push_6{left:240px}
.container_24 .push_7{left:280px}
.container_24 .push_8{left:320px}
.container_24 .push_9{left:360px}
.container_24 .push_10{left:400px}
.container_24 .push_11{left:440px}
.container_24 .push_12{left:480px}
.container_24 .push_13{left:520px}
.container_24 .push_14{left:560px}
.container_24 .push_15{left:600px}
.container_24 .push_16{left:640px}
.container_24 .push_17{left:680px}
.container_24 .push_18{left:720px}.container_24 .push_19{left:760px}.container_24 .push_20{left:800px}.container_24 .push_21{left:840px}.container_24 .push_22{left:880px}.container_24 .push_23{left:920px}.container_24 .pull_1{left:-40px}.container_24 .pull_2{left:-80px}.container_24 .pull_3{left:-120px}.container_24 .pull_4{left:-160px}.container_24 .pull_5{left:-200px}.container_24 .pull_6{left:-240px}.container_24 .pull_7{left:-280px}.container_24 .pull_8{left:-320px}.container_24 .pull_9{left:-360px}.container_24 .pull_10{left:-400px}.container_24 .pull_11{left:-440px}.container_24 .pull_12{left:-480px}.container_24 .pull_13{left:-520px}.container_24 .pull_14{left:-560px}.container_24 .pull_15{left:-600px}.container_24 .pull_16{left:-640px}.container_24 .pull_17{left:-680px}.container_24 .pull_18{left:-720px}.container_24 .pull_19{left:-760px}.container_24 .pull_20{left:-800px}.container_24 .pull_21{left:-840px}.container_24 .pull_22{left:-880px}.container_24 .pull_23{left:-920px}.clear{clear:both;display:block;overflow:hidden;height:0;}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}

/**/

/**/
nav{ position:relative; margin: -75px 0 0 0; z-index:2; background:url(/images/nav.jpg) repeat-x #030303; box-shadow: 1px 1px 5px rgba(0,0,0,0.32); min-height:78px;border-radius: 14px 14px 0 0; padding:0 0 0 7px;}
nav.height{ min-height:75px !important;}
.sf-menu ul {position:absolute;top:-999em;/* left offset of submenus need to match (see below) */}
.sf-menu ul li {width:100%}
.sf-menu li{float:left;position:relative}
.sf-menu>li{ background:url(/images/menu_li.jpg) left 31px no-repeat; padding:31px 29px 0px 30px;}
.sf-menu>li:first-child{ background:none;}
.sf-menu>li>a{display:block;font-size: 15px; line-height: 18px; color:#a0a0a0;}
.sf-menu>li>a:hover,.sf-menu>li.current>a,.sf-menu>li.sfHover>a{ color:#f2f2f0;}
.sf-menu a{ font-family:Arial, Helvetica, sans-serif;}
.sf-menu a:hover{ text-decoration:none;}
.second_part{ margin-left:252px;}
.sf-menu>li>a>span{ display:inline-block;width: 5px;height: 3px; background:url(/images/menu_span.png) no-repeat; position:absolute; top:22px; left:32px}
/*================================>> 2 Level <<========================================*/
.sf-menu li:hover ul,.sf-menu li.sfHover ul{left:-2px;top:75px;width:119px;padding:0 0 0 0;/* match top ul list item height */z-index:99}
.sf-menu li li{ margin-bottom:1px;}
.sf-menu li li a{ color:#848484;font-size: 14px;background:#454545;padding:11px 0 10px 22px;display:block;}
.sf-menu li li a:hover, .sf-menu li.sfHover li.sfHover a{ color:#fff; background:#323232;}

.sf-menu li li ul{ left:120px !important; top:0 !important; width: 172px !important;}
.sf-menu li li li a:hover{ background:#272727 !important;}



/**/


article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block;}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body 
{
	font-family:'Trebuchet MS'; 
	font-size:13px; 
	line-height:19px; 
	color:#7f6f64; 
	min-width:1014px;
	background:url(/images/top_block.jpg)   0 no-repeat;
	background-position:top center; 
	padding-bottom:20px;
}


.main {width:1003px;padding:0;margin:0 auto; position:relative;}

#top_block{  max-height:990px;height: 224px; position:relative; z-index:99;}

.z-ind{z-index:9 !important;}
.z-ind2{z-index:99 !important;}
.height_1{ height:990px !important;}

#content_block{position:relative; z-index:9;}
.bg_s{ background:url(/images/top_block2.jpg) 50% 0 no-repeat !important;}
/* Links ======================================================== */
a{color:#7f6f64;outline:none;text-decoration:none}
a:hover, .list1 a:hover, .list2 a:hover, .white_box a:hover, .offer_box .offer a:hover{color:#af2302;}
.read_more{ background:url(/images/brown_marker.png) 0 4px no-repeat;font-size: 18px; line-height: 24px; color:#88725b; padding-left:26px; padding-bottom:3px; text-transform:capitalize; display:inline-block; margin: 16px 0 0 6px;}
/*********************************fonts*************************************/
p {margin-bottom:18px}
.p2{margin-bottom:17px}
.p3{ margin-bottom:18px;}
.p4{ margin-bottom:22px;}
.p5{ margin-bottom:25px;}
.p6{}

.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.align_right {text-align:right}
.align_center {text-align:center}

.italic{font-style:italic}
.letter {letter-spacing:-1px}

.color1{ color:#3a3129 !important;}
.color2{ color:#907a61;}
.color3{ color:#7f6f64;}
.color4{}
.color5{}

.size_11{ font-size:11px; font-style:italic; color:#7f6f64;}		
/*********************************CLASSES**********************************/
.m_bottom_zero{ margin-bottom:0 !important;}
.m_left_zero{ margin-left:0 !important;}
.p_bottom_zero{ padding-bottom:0 !important;}
.p_left_zero{ padding-left:0 !important;}
.border {border:1px solid red;}

.buttons a:hover {cursor:pointer}

.clear {clear:both;width:100%;line-height:0;font-size:0;}
.wrapper {width:100%;overflow:hidden}
.extra_wrapper{ overflow:hidden;}
.container{width:100%}
.last{ margin-bottom:0 !important; padding-bottom:0 !important;}
/*********************************Displays*************************************/
.block{ display:block;}
.inline-block{ display:inline-block;}
/*********************************header*************************************/

header{padding:6px 0 0 0; position:relative; z-index:999;}
header h1
{
	width:259px;
	height:129px; 
	margin: 0 auto; 
	position:relative; 
	z-index:10; 
	padding: 15px 46px 0 0;
	background:url(../images/h1.png) no-repeat;
}

header h1 a 
{
	display:block;
	width:141px;
	height:90px;
	background:url(/images/logo.png) 0 0 no-repeat; 
	margin: 0 auto; 
	text-decoration:none; 
	text-indent:-9999px;
}

/*********************************content*************************************/
#content {padding:0px 0px 22px 0px; position:relative;margin-left:-1px; z-index:2;}
.cont_pad{ margin-top:-67px !important;}
#content_block .bg{   0 0 repeat-x; height:7px;}
#content_block .bg-s2{ background:url(/images/content_block3.jpg) 50% 0 no-repeat;}
.cont_top{ margin-top:-78px !important;}
/*================================>> LISTS <<========================================*/
.list1{padding:5px 0 32px 10px; margin-right:20px;}
.list1 li{ background:url(/images/marker.png) 0 7px no-repeat; padding-left:14px; margin-bottom:9px;}
.list1 a{font-size: 14px; line-height: 19px; color:#7a6d61;}
.list2{padding:4px 18px 0 1px;}
.list2 li{padding:0 0 17px 0;margin: 0 0 16px 0;}
.list2 a{ color:#7f6f64;}
.list3{}
.list3 li{ background:url(/images/marker.png) 0 7px no-repeat; padding-left:20px;}
.list3 a{}
/*================================>> H <<========================================*/
h2,h3,h4,h5{ font-weight:normal;}
h2{font-size: 24px; line-height: 29px; color:#4a3f36; font-family:Arial, Helvetica, sans-serif; border-bottom:1px solid #dadada; padding: 0 0 15px 0px; margin: 0 20px 20px 0;}
h2.ind{ margin-bottom:24px;}
h2.ind1{ margin-bottom:28px;}
h2.ind2{ margin-bottom:23px;}
.h2{ padding-bottom:9px;}
/*********************************page_1*************************************/
.img_box{ overflow:hidden;}
.img_box figure{ float:left;}
.img_box div{ float:right;}

.white_box{ background:url(/images/white_box.png) no-repeat; min-height:228px; padding:31px 1px 0 0px; position:relative;}

.offer_box{ padding:8px 16px 0 30px;}
.offer_box .offer{color:#959595; border-bottom:1px solid #e0e0dd; padding-bottom:4px; margin-bottom:20px;}
.offer_box .offer p{ margin-bottom:32px;}
.offer_box .offer:first-child p{ margin-bottom:20px;}
.offer_box .offer strong{font-size: 18px; line-height: 28px; color:#2c2c2c; display:inline-block; text-transform:uppercase;}
.offer_box .offer a{ background:url(/images/more.jpg) 0 7px no-repeat; display:inline-block; padding-left:13px; font-size:11px; text-transform:uppercase; font-weight:bold; color:#444444;}
.mission div{ width:268px; padding:7px 2px 0 0;}
.width div{width:303px !important; margin-right:5px;}
.mission div p{ font-family:Georgia, "Times New Roman", Times, serif; font-size:18px; line-height:24px; font-style:italic; color:#9d8470; margin-bottom:5px;}
.mission div a{ display:inline-block; background:url(/images/red_marker.png) 0 9px no-repeat; padding-left:29px;font-size: 18px; line-height: 34px; color:#fff;}
.mission div h4{font-size: 26px; line-height: 31px; color:#fff; text-shadow:1px 1px 2px rgba(19,100,121,0.14);margin-bottom:11px;}
.b_none{ border:none !important;}
.bg1{ background:#f1ede8;}
.bg2{ background:url(/images/bg2.jpg) 50% 0 repeat;}
.bg3{ background:#f1ede8;}
.block,.block1,.block2,.block3,.block4{ box-shadow:1px 1px 2px rgba(172,172,172,0.12); margin-bottom:5px;}
.block, .block4{padding:29px 0 24px 23px; margin-right:18px;}
.block h2{ padding-left:6px;}
.b_bot, .list2 li{ border-bottom:1px solid #dadada;}
.block1,.block3{padding:29px 10px 24px 29px;}
.block1 h2{ padding-left:0;}
.block1 .b_bot{ padding-bottom:22px; margin-bottom:0px; margin-right:20px;}
.block1 .read_more{ margin-right:20px;}
.block2{margin: 0 0 0 15px;padding:29px 8px 14px 28px; line-height:18px;}
h5{font-size: 18px; line-height: 22px; color:#af2302; margin-bottom:10px;}
/*********************************page_2*************************************/
.pad1{padding:0 0px 29px 9px; margin-right:20px}
.pad2{padding:0 0px 35px 0px !important; margin-right:10px !important; line-height:18px; color:#7f6f64;}
.pad2 h5{ margin-bottom:7px;}
#page2 .block,#page2 .block1{ padding-bottom:36px;}
/*********************************page_3*************************************/
.pad3{padding:0 0px 43px 0px !important; margin-right:20px;}
.m_left_zero{ margin-left:0 !important;}
.m_left{ margin-left:18px;}
.block3{ margin: 0 0 0 18px; padding-bottom:37px;}
.pad4{padding:0 14px 26px 3px;}
.pad4 .list1{ padding-left:0; padding-top:6px;}
.pad5{padding:0 0 28px 0; margin-right:15px;}
.bot_ind{ padding-bottom:37px;}
/*********************************page_4*************************************/
.block4{}
.block4 h2{ margin-right:0; letter-spacing:-1px;}
.block4 h5{ margin-top:-6px;}
.m_bot{ margin-bottom:17px;}
.pad6{ line-height:19px; padding-bottom:31px !important;}
.pad6 p{ margin-bottom:14px;}
.pad7{padding:0 0 29px 11px;margin: 0 13px 0 -10px;}
.bot_ind1{ padding-bottom:38px !important;}
.bot_ind2{ padding-bottom:37px !important;}

/*********************************page_5*************************************/
.pad8{ padding:0 0 29px 0 !important;}
.pad9{padding:0 0 2px 2px;}
.pad9 p{ margin-bottom:19px; padding-right:15px;}
.pad10{padding:0 15px 28px 1px;}
.pad10 h5{ margin-bottom:8px;}
.pad10 p{ margin-bottom:23px;}

.map_block{ min-height:200px;padding:29px 0 42px 29px;}
.form_box{padding:29px 0 42px 28px; margin: 0 0 0 15px; background:#f1ede8;}
.privacy_box{padding:29px 20px 43px 29px;}
.privacy_box p{ padding-left:3px; padding-right:30px; margin-bottom:19px;}
.privacy_box a:hover{ text-decoration:underline;}
/* Contact form */
#contact-form {padding:8px 0 0 0;}
#contact-form .success {padding-bottom:5px;width:246px; margin-bottom:20px; padding:10px; position:absolute;}
#contact-form textarea, #contact-form input {margin:0;font-size:13px; border:none; color:#3a3129; padding:8px 13px;outline:none; position:relative; font-family:Arial, Helvetica, sans-serif;background:#cfc9c3;}
#contact-form input {width:276px;}
#contact-form textarea {overflow:auto; width:413px; height:196px;resize:vertical;}	
#contact-form label {display:block; padding-bottom:8px; overflow:hidden;}	
#contact-form label.message { display:block; padding-bottom:0; }
#contact-form .button {margin-left:8px;}	
#contact-form .error, #contact-form .empty, #contact-form .success {display:none;}	
#contact-form .error, #contact-form .empty {text-align:left; color:red; font-size:11px;}
#contact-form .buttons2 {overflow:hidden;text-align:right; padding-right:27px; position:relative; clear:both; padding-top:18px;}
#contact-form .buttons2 a {
	cursor:pointer;
	margin:0 !important;
	text-align:center;
}
#contact-form span{ display:block; margin: 0px 0 0 5px;}

.map_wrapper{overflow:hidden;padding:8px; background:#FFFFFF; display:inline-block; margin: 8px 0 24px 3px;}
#map_canvas {
    width:336px;
	height:206px;
}
.adress{ padding-left:4px;}
.adress span{ display:inline-block; width:90px;}
.adress dt{ margin-bottom:19px;}
.adress a{}
.adress a:hover{ text-decoration:underline;}
/****************************footer************************/
footer {padding:20px 0 20px 35px;background:#f0eedf;position:relative;width: 915px; margin: 0 auto 0px; overflow:hidden; text-align:center;font-size: 14px; line-height: 24px; color:#7d6c5d;}
footer a{ color:#c54728;}
footer a:hover{ color:#7d6c5d;}
footer span{display:inline-block; height:19px; width:1px; background:#c2b9aa; margin:3px 5px 0;}
#easyTooltip {font-size:12px;background:#fff;padding:3px 5px;border:1px solid #000}
#back_button{ display:block; width: 30px; height:15px; background:url(/images/back_button.png) 0 0 no-repeat; right:27px; top:22px; position:absolute;}
#back_button:hover{ background-position: 0 -19px;}

._5jjm {

    z-index: 999999999999999;

}
